html(class="html2")
    head
        title="Finley Bikes"
        script(src="/app.js")
        link(href="/css/main.css", rel="stylesheet", type="text/css")
        
    body
        div(class="main")
            nav(class="nav")
                a(href="/")="Home"
                a(href="/items")="Parts"
                a(href="/order")="Purchase"
                if(isAdmin)
                    a(href="/new")="New Item"
                if(username)
                    a(href="/logout")="Logout"
                else
                    a(href="/login")="Login"
                    a(href="/register")="Register"
            img(class="logo", src="/images/newBike.png")
            div
                p="Thank you for purchasing"
                br
        footer="Finley Bikes©"